.card {
    max-width: 750px;
    min-height: 120px;
    display: inline-flex;
    margin-top: .3em;
    margin-bottom: 1em;
}

.card-image {
    object-fit: cover;
    min-height: 200px;
    min-width: 200px;
    max-height: 340px;
    max-width: 300px;
    width: auto;
    box-shadow: 2px 3px 2px #888888;
}


.paper-filter {
    min-width: 250px;
    padding: 20px;
    margin-top: 9.5em;
}

.card-grid {
    padding: 25px;
}

#intro {
    margin-top: 3em;
    font-size: 32px;
}

#lend-btn {
    background-color: #4C688C;
    color: white;
}

/* .grid-main {
    margin-left: relative;
} */

.paper {
    padding: 25px;
}

.loan-paper {
    padding: 15px;
}


/* .random-btn {
    margin-top: 7em;
} */


.dropdown {
    min-width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    margin: 10px;
    height: 20px;
}

/* .form-control {
    margin: 10px;
} */

/* .side-filter {
    position: sticky;
    min-height: 800px;
} */

