@media screen and (min-width: 800px) {

#header-image {
    width: 100%;
    z-index: -1;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    width: 75%
}

#main-background {
    position: relative;
    margin-right: 3em;
    margin-left: 3em;
    margin-top: -8em;
    margin-bottom: 3em;
    z-index: 1;
}



.card {
    max-width: 750px;
    display: inline-flex;
    margin-top: 5em;
    margin-bottom: 1em;
    margin-left: 4em;
}

.card-image {
    object-fit: cover;
    max-height: 340px;
    max-width: 300px;
    width: auto;
    box-shadow: 2px 3px 2px #888888;
}


.paper-filter {
    min-width: 250px;
    padding: 20px;
    margin-top: 5em;
    margin-left: 4em;
}

.card-grid {
    padding: 25px;
}

#intro {
    margin-top: 3em;
    font-size: 32px;
}

#lend-btn {
    background-color: #4C688C;
    color: white;
    margin: 1em;
}

#loan-name {
    margin: .5em;
    color: #4C688C;
}

/* .grid-main {
    margin-left: relative;
} */

.paper {
    padding: 25px;
}

.loan-paper {
    padding: 10px;
}


/* .random-btn {
    margin-top: 7em;
} */


.dropdown {
    min-width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    margin: 10px;
    height: 20px;
}

#description-text-2 {
    white-space: pre-wrap;
}

#loan-amount {
    font-size: 20px;
    background-color: lightgray;
    padding: 5px;
    margin: .3em;
    font-family: 'Share Tech Mono', sans-serif;
}

.timer-hours {
    background-color: #A03548;
    padding: 7px;
    margin: .3em;
    color: white;
    font-size: 20px;
    font-family: 'Share Tech Mono', sans-serif;

}

.timer-minutes {
    background-color: #A03548;
    padding: 7px;
    margin: .3em;
    color: white;
    font-size: 20px;
    font-family: 'Share Tech Mono', sans-serif;


}

.timer-seconds {
    background-color: #A03548;
    padding: 7px;
    margin: .3em;
    color: white;
    font-size: 20px;
    font-family: 'Share Tech Mono', sans-serif;

}

.timer-header {
    color: black;
    font-family: 'Monteserrat', sans-serif;
    font-size: 1em;
}

.timer-intro {
    font-family: 'Monteserrat', sans-serif;
    font-size: 1em;
}

.loan-amount-div {
    margin: 1em;
}

.loan-countdown-div {
    margin: 1em;
}
}

/* .timer-div {
    perspective: 1000px;
	transform-style: preserve-3d;
} */

/* .form-control {
    margin: 10px;
} */

/* .side-filter {
    position: sticky;
    min-height: 800px;
} */

@media screen and (max-width: 800px) {
    #header-image {
        width: 100%;
        object-fit: contain;
        z-index: -1;
        height: 350px;
    }
    
    .container {
        position: relative;
        text-align: center;
        color: white;
    }
    
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px;
        width: 75%
    }

    #main-background {
        margin-top: -3.5em;
        position: relative;
    }
    
    .card {
        position: initial;
        max-width: 500px;
        margin-top: .5em;
        margin-bottom: .5em;
        margin-right: 1em;
        margin-left: 1em;
        display: inline-flex;
    }
    
    .card-image {
        object-fit: cover;
        max-height: 340px;
        max-width: 200px;
        box-shadow: 2px 3px 2px #888888;
    }
    
    
    .paper-filter {
        max-width: 300px;
        max-height: 125px;
        padding: 1em;
        margin-top: 2em;
        margin-right: 4em;
        margin-left: 4em;
        display: block;
    }

    .dropdown {
        min-width: 150px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 10px;
        margin: 10px;
        height: 5px;
    }
    
    .card-grid {
        padding: 25px;
    }
    
    #intro {
        margin-top: 3em;
        font-size: 32px;
    }

    #description-text {
        font-size: 18px;
        text-align: center;
    }

    #description-text-2 {
        text-align: justify;
        white-space: pre-wrap;
    }
    
    #lend-btn {
        background-color: #4C688C;
        color: white;
        margin: 1em;
        height: 35px;
    }
    
    #loan-name {
        margin: .5em;
        font-size: 18px;
        color: #4C688C;
    }

    
    /* .grid-main {
        margin-left: relative;
    } */
    
    .paper {
        padding: 20px;
        min-width: 250px;
    }
    
    .loan-paper {
        padding: 2px 0px;
        margin: 2px;
        text-align: center;
    }
    
    
    /* .random-btn {
        margin-top: 7em;
    } */
    
    #loan-amount {
        font-size: 14px;
        background-color: lightgray;
        padding: 5px;
        margin: .3em;
        font-family: 'Share Tech Mono', sans-serif;
    }
    
    .timer-hours {
        background-color: #A03548;
        padding: 7px;
        margin: .3em;
        color: white;
        font-size: 14px;
        font-family: 'Share Tech Mono', sans-serif;
    
    }
    
    .timer-minutes {
        background-color: #A03548;
        padding: 7px;
        margin: .3em;
        color: white;
        font-size: 14px;
        font-family: 'Share Tech Mono', sans-serif;
    
    
    }
    
    .timer-seconds {
        background-color: #A03548;
        padding: 7px;
        margin: .3em;
        color: white;
        font-size: 14px;
        font-family: 'Share Tech Mono', sans-serif;
    
    }
    
    .timer-header {
        color: black;
        font-family: 'Monteserrat', sans-serif;
        font-size: 1em;
    }
    
    .timer-intro {
        font-family: 'Monteserrat', sans-serif;
        font-size: 1em;
    }
    
    .loan-amount-div {
        margin: 1em;
    }
    
    .loan-countdown-div {
        margin: 1em;
    }
  }

