#header-image {
    width: 100%;
}

#main-paper {
    margin-right: 3em;
    margin-left: 3em;
}

.card {
    max-width: 750px;
    min-height: 120px;
    display: inline-flex;
    margin-top: 1em;
    margin-bottom: 1em;
}

.card-image {
    object-fit: cover;
    min-height: 200px;
    min-width: 200px;
    max-height: 340px;
    max-width: 300px;
    width: auto;
    box-shadow: 2px 3px 2px #888888;
}


.paper-filter {
    min-width: 250px;
    padding: 20px;
    margin-top: 10.2em;
}

.card-grid {
    padding: 25px;
}

#intro {
    margin-top: 3em;
    font-size: 32px;
}

#lend-btn {
    background-color: #4C688C;
    color: white;
    margin: 1em;
}

#loan-name {
    margin: .5em;
}

/* .grid-main {
    margin-left: relative;
} */

.paper {
    padding: 25px;
}

.loan-paper {
    padding: 10px;
    z-index: -1;
}


/* .random-btn {
    margin-top: 7em;
} */


.dropdown {
    min-width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    margin: 10px;
    height: 20px;
}

#loan-amount {
    font-size: 20px;
    background-color: lightgray;
    padding: 5px;
    margin: .3em;
    font-family: 'Share Tech Mono', sans-serif;
}

.timer-hours {
    background-color: #A03548;
    padding: 7px;
    margin: .3em;
    color: white;
    font-size: 20px;
    font-family: 'Share Tech Mono', sans-serif;

}

.timer-minutes {
    background-color: #A03548;
    padding: 7px;
    margin: .3em;
    color: white;
    font-size: 20px;
    font-family: 'Share Tech Mono', sans-serif;


}

.timer-seconds {
    background-color: #A03548;
    padding: 7px;
    margin: .3em;
    color: white;
    font-size: 20px;
    font-family: 'Share Tech Mono', sans-serif;

}

.timer-header {
    color: black;
    font-family: 'Monteserrat', sans-serif;
    font-size: 1em;
}

.timer-intro {
    font-family: 'Monteserrat', sans-serif;
    font-size: 1em;
}

.loan-amount-div {
    margin: 1em;
}

.loan-countdown-div {
    margin: 1em;
}

/* .timer-div {
    perspective: 1000px;
	transform-style: preserve-3d;
} */

/* .form-control {
    margin: 10px;
} */

/* .side-filter {
    position: sticky;
    min-height: 800px;
} */

