.card {
    max-width: 750px;
    min-height: 120px;
    display: inline-flex;
    margin-top: 7em;
}

.card-image {
    object-fit: cover;
    min-height: 200px;
    min-width: 200px;
    max-height: 340px;
    max-width: 300px;
    width: auto;
    box-shadow: 2px 3px 2px #888888;
}

.card-button {
    max-width: 250px;
    padding: 15px;
    position: fixed;
    margin-top: 7em;
}

.card-grid {
    padding: 50px;
}

/* .grid-main {
    margin-left: relative;
} */

.paper {
    padding: 25px;
}


/* .random-btn {
    margin-top: 7em;
} */


.dropdown {
    min-width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

/* .form-control {
    padding: 10px;
} */

/* .side-filter {
    position: sticky;
    min-height: 800px;
} */

