.card {
    max-width: 800px;
    min-height: 120px;
    display: inline-flex;
    margin-top: 3em;
}

.card-image {
    object-fit: scale-down;
    min-height: 120px;
    max-height: 340px;
    max-width: 340px;
    width: auto;
    box-shadow: 5px 10px 8px #888888;
}

.card-button {
    margin-top: 8em;
    max-width: 800px;
    min-height: 75px;
    display: flex;
    padding: 20px;
}

.card-grid {
    padding: 50px;
}

.paper {
    padding: 25px;
}

/* .random-btn {
    margin-top: 7em;
} */


.dropdown {
    min-width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

/* .form-control {
    padding: 10px;
} */

