@media screen and (min-width: 800px) {

.nav-title {
    font-size: 28px;
    font-weight: 700;
    color: #f2f2f2;
}


.nav {
  background-color: #256F5C;
  background-size: 100% auto !important;
  height: 5em;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.nav-link {
  color: #f2f2f2;
  background-color: #256F5C;
  padding: 15px;
  margin-right: 3em;
  float: right;
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;


  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #256F5C;
}

}

@media screen and (max-width: 800px) {

  .nav-title {
    font-size: 24px;
    font-weight: 700;
    color: #f2f2f2;
}


.nav {
  background-color: #256F5C;
  background-size: 100% auto !important;
  height: 4em;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.nav-link {
  color: #f2f2f2;
  background-color: #256F5C;
  margin-right: .8em;
  padding: 15px;
  float: right;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;


  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #256F5C;
}

.nav-right {
  float: right;
}

}